<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="title" content="project">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="vinayak sharma">

  <title>{{title}}</title>


  <!-- bootstrap file -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"/>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!-- bootstrap file-->

  <!-- jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body class="container-fluid">

  <div class="row">
    {% block start %}
        <h2> Student Master</h2>
        <table id = "table" class = "table table-bordered">
            <thead class = "alert-success">
                <tr>
                    <th>Name</th>
                    <th>DOB</th>
                    <th>Year</th>
                    <th>CNIC</th>
                </tr>
            </thead>
            <tbody>
                {% for i in studentMaster %}
                <tr>
                    <td>{{ i.name }}</td>
                    <td>{{ i.dob }}</td>
                    <td>{{ i.year }}</td>
                    <td>{{ i.cnic }}</td>
                </tr>
               {% endfor %}
            </tbody>
        </table>

    {% endblock %}
  </div>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Add Data
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
            {% csrf_token %}
            <label for="subjectname">Subject Name:</label><br>
            <input type="text" id="subjectname" name="subjectname"><br>
            <label for="subjectdescription">Subject Description:</label><br>
            <input type="text" id="subjectdescription" name="subjectdescription">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" onclick="getdata()" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" integrity="sha512-894YE6QWD5I59HgZOGReFYm4dnWc1Qt5NtvYSaNcOP+u1T9qYdvdihz0PPSiiqn/+/3e7Jo4EaG7TubfWGUrMQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src = "https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script type = "text/javascript">
    function getdata(){
        var subjectname =$('#subjectname').val();
        var subjectdescription =$('#subjectdescription').val();
        data = subjectname + subjectdescription
      $.ajax({
        url: 'insert/',
          method  : 'POST',
        data: {
          'data': data,
            csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        dataType: 'json',
        success: function (data) {
            console.log(data)
        }
      });
    }
    $(document).ready(function(){
        $('#table').DataTable();
        function getdata(){
        var a =$('#fname').val();
        alert(a);}

    });

</script>
</html>